@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-5">Welcome!</h1>
    <h2 class="display-7" style="font-weight: 300;"> You must be logged in to access the Admin Panel</h2>
    <a class="btn btn-outline-primary mt-3" asp-controller="Admin" asp-action="Login">Take me to Login!</a>
</div>
