@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-left">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <h4 class="display-7" style="font-weight: 300;"> Please check your email for the password reset link.</h4>
</div>
