@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-center text-danger display-5">@ViewData["Title"]</h2>
    <p class="text-center text-danger display-7">This account has been locked out. Please try again later.</p>
</header>
