@model PetRescue.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}


<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <h3 class="lead">Create a new account</h3>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Password" class="control-label"></label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Re-enter password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3 mb-2">
                            <div class="d-grid">
                                <input type="submit" value="Register" class="btn btn-block btn-outline-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
