@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="text-left">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <h4 class="display-7" style="font-weight: 300;">Your password has been reset. Please <a asp-action="Login">click here to log in</a>.</h4>
</div>
