html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Custom Styles */

.icon-link {
  color: black;
  text-decoration: none;
  transition: color 0.05s linear;
  cursor: pointer;
  user-select: none;
}

.icon-link:hover {
  color: var(--bs-primary);
}

.date-expired {
  opacity: 0.6;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="date"]:hover, input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, textarea:hover {
  border-color: var(--bs-primary);
}

select:hover, input[type="checkbox"]:hover{
  cursor: pointer;
  border-color: var(--bs-primary);
}
